[submodule "data-raw/gemoji"]
	path = data-raw/gemoji
	url = https://github.com/github/gemoji.git
[submodule "data-raw/emojilib"]
	path = data-raw/emojilib
	url = https://github.com/muan/emojilib.git
