.emoji-link{
  font-size: 40px ;
  text-decoration: none ;
}

#emojis{
  max-height: 250px ;
  overflow-y: scroll ;
}

.alias {
  font-family: monospace ;
  font-weight: bolder ;
  font-size: large ;
  color: #888888 ;
}
